@model MvcTeste.Controllers.Aluno
@{
    ViewBag.Title = "Dados";
}

<h2>Dados</h2>

<ul>
    <li> ViewBag : @ViewBag.Categoria</li>
    <li>ViewData :   @ViewData["Categoria"]</li>
    <li>Tempdata: @TempData["Categoria"]</li>
    <li>Session : @Session["Categoria"]</li>
</ul>

